<template>
  <b-container>
    <b-row class="row-margin">
      <b-col offset-lg="1" cols="11">
        <h3>Suma, wat was jou achternaam ook alweer?</h3>
      </b-col>
    </b-row>
    <b-row class="row-margin">
      <b-col offset-lg="2" cols="10">
        <h2>De naam is Suma...</h2>
      </b-col>
    </b-row>
    <b-row class="row-margin">
      <b-col offset-lg="3" cols="9">
        <h1>Suma {{ msg }}</h1>
      </b-col>
    </b-row>
    <b-row class="row-margin">
      <b-col cols="12" class="text-center">
        <button type="button" class="btn btn-outline-info btn-lg" v-on:click="refreshLastName()">Kun je dat herhalen?</button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  export default {
    name: 'Generator',
    data () {
      return {
        prefix: 'Sko',
        maxParts: 2,
        msg: this.generateLastName('Sko', 2)
      }
    },
    methods: {
      getListA: function () {
        let start = ['Skotar', 'Skotoe', 'Skoeter', 'Skater', 'Scooter', 'Sonar']
        let end = ['czak', 'bak', 'zak', 'kak', 'lak', 'drak', 'plak', 'hak', 'nak', 'gak', 'drek', 'zwak', 'smak', 'klak', 'dak', 'knak', 'prak', 'vak', 'wrak', 'vlak', 'tak']
        return {
          'start': start,
          'end': end
        }
      },
      getListB: function () {
        let start = ['Sko', 'Sky', 'Slo', 'Smo', 'Skie', 'Skeer', 'Slow', 'Snow', 'Show']
        let end = ['tarczak', 'prozac', 'bareback', 'harkak', 'tandplak', 'balzak', 'haarlak', 'clownspak', 'jaszak', 'lamzak', 'slaapzak', 'platzak', 'waszak']
        return {
          'start': start,
          'end': end
        }
      },
      getListC: function () {
        let start = ['Sko', 'Sky', 'Slo', 'Smo', 'Skie', 'Skeer', 'Slow', 'Snow', 'Show']
        let middle = ['tar', 'bar', 'nar', 'mar', 'lar', 'tak', 'tal', 'teer', 'spar', 'knar', 'star', 'kar', 'schar']
        let end = ['czak', 'bak', 'zak', 'kak', 'lak', 'drak', 'plak', 'hak', 'nak', 'gak', 'drek', 'zwak', 'smak', 'klak', 'dak', 'knak', 'prak', 'vak', 'wrak', 'vlak', 'tak']
        return {
          'start': start,
          'middle': middle,
          'end': end
        }
      },
      getList: function () {
        let randomListNumber = Math.floor((Math.random() * 3) + 1)
        let list = {}
        switch (randomListNumber) {
          case 1:
            list = this.getListA()
            break
          case 2:
            list = this.getListB()
            break
          case 3:
            list = this.getListC()
        }
        return list
      },
      getRandomValueFromArray: function (textArray) {
        let lastIndex = textArray.length - 1
        let randomKey = Math.floor((Math.random() * lastIndex) + 1)
        return textArray[randomKey]
      },
      generateLastName: function () {
        let list = this.getList()
        let lastName = ''
        if (list.start !== undefined) {
          lastName = lastName + this.getRandomValueFromArray(list.start)
        }
        if (list.middle !== undefined) {
          lastName = lastName + this.getRandomValueFromArray(list.middle)
        }
        if (list.end !== undefined) {
          lastName = lastName + this.getRandomValueFromArray(list.end)
        }
        return lastName
      },
      refreshLastName: function () {
        this.msg = this.generateLastName(this.prefix, this.maxParts)
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import 'Generator.scss';
</style>
