html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #a4f442;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #a4f442;
  height: 100%;
}