<template>
  <div id="app" class="container">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="scss">
  @import '../node_modules/bootstrap/dist/css/bootstrap.css';
  @import '../node_modules/bootstrap/dist/css/bootstrap-grid.css';
  @import '../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
  @import 'App.scss';
</style>
